@import "tailwindcss";

/* :root {
  --background: #171717;
  --foreground: #ededed;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ededed;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
} */